:root {
	font-family: Helvetica, Arial, sans-serif;
}

:root[data-theme="dark"] {
	--bodyBackgroundColor: #0d1117;
	--codeBackgroundColor: #1e222a;
	--buttonBackgroundColor: #06145e;
	--generalTextColor: #cccccc;
	--buttonBorder: 1px solid #707070;
	--textInputBackgroundColor: #0f093e;
	--textInputPlaceholderColor: #797979;
	--textInputBorder: 1px solid #797979;
	--transparentBackground: #00000000;
	--onButtonBackgroundColor: darkgreen;
	--offButtonBackgroundColor: darkred;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: var(--bodyBackgroundColor);
	overflow: hidden;
	color: var(--generalTextColor);
}

#root {
	height: 100vh;
	width: 100vw;
}

#main-screen {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: 100%;
	width: 100%;
}

#code-typer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	padding: 40px;
	border: 1px solid black;
	font-size: 1.3rem;
	overflow-x: hidden;
	overflow-y: auto;
	background: var(--codeBackgroundColor);
}
